<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="demo.user.FleetMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  CAFLEET.lineid ,
		  CAFLEET.fleetno ,
		  CAFLEET.fleetname ,
		  CAFLEET.fleettype ,
		  CAFLEET.contact ,
		  CAFLEET.tel ,
		  CAFLEET.cityname ,
		  CAFLEET.memo ,
		  CAFLEET.dtdate ,
		  CAFLEET.userno ,
		  CAFLEET.active ,
		  CAFLEET.bankname ,
		  CAFLEET.bankbillno ,
		  CAFLEET.invoicecompany 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="lineid != null">and CAFLEET.lineid = #{lineid}</if>
	    <if test="fleetno != null">and CAFLEET.fleetno = #{fleetno}</if>
	    <if test="fleetname != null">and CAFLEET.fleetname = #{fleetname}</if>
	    <if test="fleettype != null">and CAFLEET.fleettype = #{fleettype}</if>
	    <if test="contact != null">and CAFLEET.contact = #{contact}</if>
	    <if test="tel != null">and CAFLEET.tel = #{tel}</if>
	    <if test="cityname != null">and CAFLEET.cityname = #{cityname}</if>
	    <if test="memo != null">and CAFLEET.memo = #{memo}</if>
	    <if test="dtdate != null">and CAFLEET.dtdate = #{dtdate}</if>
	    <if test="userno != null">and CAFLEET.userno = #{userno}</if>
	    <if test="active != null">and CAFLEET.active = #{active}</if>
	    <if test="bankname != null">and CAFLEET.bankname = #{bankname}</if>
	    <if test="bankbillno != null">and CAFLEET.bankbillno = #{bankbillno}</if>
	    <if test="invoicecompany != null">and CAFLEET.invoicecompany = #{invoicecompany}</if>
</sql>


<!-- ElementID:FleetResult,Generated=true -->
<resultMap id="FleetResult" type="demo.user.Fleet">
	<id property="lineid" column="lineid"/>
	<result property="fleetno" column="fleetno"/>
	<result property="fleetname" column="fleetname"/>
	<result property="fleettype" column="fleettype"/>
	<result property="contact" column="contact"/>
	<result property="tel" column="tel"/>
	<result property="cityname" column="cityname"/>
	<result property="memo" column="memo"/>
	<result property="dtdate" column="dtdate"/>
	<result property="userno" column="userno"/>
	<result property="active" column="active"/>
	<result property="bankname" column="bankname"/>
	<result property="bankbillno" column="bankbillno"/>
	<result property="invoicecompany" column="invoicecompany"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="demo.user.Fleet" resultType="int">
	select count(*) from CAFLEET 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="demo.user.Fleet">
	update CAFLEET
<set>
	<if test="fleetno != null">fleetno=#{fleetno,jdbcType=VARCHAR},</if>
	<if test="fleetname != null">fleetname=#{fleetname,jdbcType=VARCHAR},</if>
	<if test="fleettype != null">fleettype=#{fleettype,jdbcType=NUMERIC},</if>
	<if test="contact != null">contact=#{contact,jdbcType=VARCHAR},</if>
	<if test="tel != null">tel=#{tel,jdbcType=VARCHAR},</if>
	<if test="cityname != null">cityname=#{cityname,jdbcType=VARCHAR},</if>
	<if test="memo != null">memo=#{memo,jdbcType=VARCHAR},</if>
	<if test="dtdate != null">dtdate=#{dtdate,jdbcType=DATE},</if>
	<if test="userno != null">userno=#{userno,jdbcType=VARCHAR},</if>
	<if test="active != null">active=#{active,jdbcType=NUMERIC},</if>
	<if test="bankname != null">bankname=#{bankname,jdbcType=VARCHAR},</if>
	<if test="bankbillno != null">bankbillno=#{bankbillno,jdbcType=VARCHAR},</if>
	<if test="invoicecompany != null">invoicecompany=#{invoicecompany,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="lineid != null">and lineid = #{lineid}</when>
        <otherwise>and lineid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update CAFLEET
	<set>
		<trim suffixOverrides=",">
		    <if test="fleetno==null">fleetno = null,</if>
		    <if test="fleetname==null">fleetname = null,</if>
		    <if test="fleettype==null">fleettype = null,</if>
		    <if test="contact==null">contact = null,</if>
		    <if test="tel==null">tel = null,</if>
		    <if test="cityname==null">cityname = null,</if>
		    <if test="memo==null">memo = null,</if>
		    <if test="dtdate==null">dtdate = null,</if>
		    <if test="userno==null">userno = null,</if>
		    <if test="active==null">active = null,</if>
		    <if test="bankname==null">bankname = null,</if>
		    <if test="bankbillno==null">bankbillno = null,</if>
		    <if test="invoicecompany==null">invoicecompany = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="lineid != null">and lineid = #{lineid}</when>
			<otherwise>and lineid = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="demo.user.Fleet">
    delete from CAFLEET where 1=1 and lineid = #{lineid}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="demo.user.Fleet" resultMap="FleetResult">
	select 
		<include refid="column_sql"/>
	    from CAFLEET 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from CAFLEET where lineid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.lineid}
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=true -->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update CAFLEET
	<set>
	<if test="entity.fleetno != null">fleetno= #{entity.fleetno,jdbcType=VARCHAR},</if>
	<if test="entity.fleetname != null">fleetname= #{entity.fleetname,jdbcType=VARCHAR},</if>
	<if test="entity.fleettype != null">fleettype= #{entity.fleettype,jdbcType=NUMERIC},</if>
	<if test="entity.contact != null">contact= #{entity.contact,jdbcType=VARCHAR},</if>
	<if test="entity.tel != null">tel= #{entity.tel,jdbcType=VARCHAR},</if>
	<if test="entity.cityname != null">cityname= #{entity.cityname,jdbcType=VARCHAR},</if>
	<if test="entity.memo != null">memo= #{entity.memo,jdbcType=VARCHAR},</if>
	<if test="entity.dtdate != null">dtdate= #{entity.dtdate,jdbcType=DATE},</if>
	<if test="entity.userno != null">userno= #{entity.userno,jdbcType=VARCHAR},</if>
	<if test="entity.active != null">active= #{entity.active,jdbcType=NUMERIC},</if>
	<if test="entity.bankname != null">bankname= #{entity.bankname,jdbcType=VARCHAR},</if>
	<if test="entity.bankbillno != null">bankbillno= #{entity.bankbillno,jdbcType=VARCHAR},</if>
	<if test="entity.invoicecompany != null">invoicecompany= #{entity.invoicecompany,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.lineid != null">and lineid = #{entity.lineid}</when>
				<otherwise>and lineid = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="FleetResult">
	select 
		<include refid="column_sql"/>
	    from CAFLEET 
</select>

<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="FleetResult">
select 
	<include refid="column_sql"/> 
	from CAFLEET 
	where CAFLEET.lineid in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		CAFLEET.lineid
	    from CAFLEET 
		 <where>
	        <if test="entity.lineid != null">and CAFLEET.lineid = #{entity.lineid}</if>
	        <if test="entity.fleetno != null">and CAFLEET.fleetno = #{entity.fleetno}</if>
	        <if test="entity.fleetname != null">and CAFLEET.fleetname = #{entity.fleetname}</if>
	        <if test="entity.fleettype != null">and CAFLEET.fleettype = #{entity.fleettype}</if>
	        <if test="entity.contact != null">and CAFLEET.contact = #{entity.contact}</if>
	        <if test="entity.tel != null">and CAFLEET.tel = #{entity.tel}</if>
	        <if test="entity.cityname != null">and CAFLEET.cityname = #{entity.cityname}</if>
	        <if test="entity.memo != null">and CAFLEET.memo = #{entity.memo}</if>
	        <if test="entity.dtdate != null">and CAFLEET.dtdate = #{entity.dtdate}</if>
	        <if test="entity.userno != null">and CAFLEET.userno = #{entity.userno}</if>
	        <if test="entity.active != null">and CAFLEET.active = #{entity.active}</if>
	        <if test="entity.bankname != null">and CAFLEET.bankname = #{entity.bankname}</if>
	        <if test="entity.bankbillno != null">and CAFLEET.bankbillno = #{entity.bankbillno}</if>
	        <if test="entity.invoicecompany != null">and CAFLEET.invoicecompany = #{entity.invoicecompany}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="FleetResult">
	select 
		<include refid="column_sql"/>
	    from CAFLEET 
		 where CAFLEET.lineid = #{lineid,jdbcType=NUMERIC}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="demo.user.Fleet" resultMap="FleetResult">
	select 
		<include refid="column_sql"/>
	    from CAFLEET 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="demo.user.Fleet">
	<selectKey keyProperty="lineid" resultType="java.lang.Integer" order="BEFORE">
         select CAFLEET_PK.NEXTVAL from dual
     </selectKey>
	insert into CAFLEET(
	<trim prefixOverrides=",">
	         <if test="lineid != null">lineid</if>
	         <if test="fleetno != null">,fleetno</if>
	         <if test="fleetname != null">,fleetname</if>
	         <if test="fleettype != null">,fleettype</if>
	         <if test="contact != null">,contact</if>
	         <if test="tel != null">,tel</if>
	         <if test="cityname != null">,cityname</if>
	         <if test="memo != null">,memo</if>
	         <if test="dtdate != null">,dtdate</if>
	         <if test="userno != null">,userno</if>
	         <if test="active != null">,active</if>
	         <if test="bankname != null">,bankname</if>
	         <if test="bankbillno != null">,bankbillno</if>
	         <if test="invoicecompany != null">,invoicecompany</if>
	 	 	 </trim>
	 )
	 values (
	 <trim prefixOverrides=",">
	         <if test="lineid != null">#{lineid,jdbcType=NUMERIC}</if>
	         <if test="fleetno != null">,#{fleetno,jdbcType=VARCHAR}</if>
	         <if test="fleetname != null">,#{fleetname,jdbcType=VARCHAR}</if>
	         <if test="fleettype != null">,#{fleettype,jdbcType=NUMERIC}</if>
	         <if test="contact != null">,#{contact,jdbcType=VARCHAR}</if>
	         <if test="tel != null">,#{tel,jdbcType=VARCHAR}</if>
	         <if test="cityname != null">,#{cityname,jdbcType=VARCHAR}</if>
	         <if test="memo != null">,#{memo,jdbcType=VARCHAR}</if>
	         <if test="dtdate != null">,#{dtdate,jdbcType=DATE}</if>
	         <if test="userno != null">,#{userno,jdbcType=VARCHAR}</if>
	         <if test="active != null">,#{active,jdbcType=NUMERIC}</if>
	         <if test="bankname != null">,#{bankname,jdbcType=VARCHAR}</if>
	         <if test="bankbillno != null">,#{bankbillno,jdbcType=VARCHAR}</if>
	         <if test="invoicecompany != null">,#{invoicecompany,jdbcType=VARCHAR}</if>
	 	 	 </trim>
	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into CAFLEET (lineid,fleetno,fleetname,fleettype,contact,tel,cityname,memo,dtdate,userno,active,bankname,bankbillno,invoicecompany)
		select  CAFLEET_PK.NEXTVAL , B.* from(
			<foreach collection="list" item="entity" index="index" separator="union all">
				select 
	              #{entity.fleetno,jdbcType = VARCHAR},
	              #{entity.fleetname,jdbcType = VARCHAR},
	              #{entity.fleettype,jdbcType = NUMERIC},
	              #{entity.contact,jdbcType = VARCHAR},
	              #{entity.tel,jdbcType = VARCHAR},
	              #{entity.cityname,jdbcType = VARCHAR},
	              #{entity.memo,jdbcType = VARCHAR},
	              #{entity.dtdate,jdbcType = DATE},
	              #{entity.userno,jdbcType = VARCHAR},
	              #{entity.active,jdbcType = NUMERIC},
	              #{entity.bankname,jdbcType = VARCHAR},
	              #{entity.bankbillno,jdbcType = VARCHAR},
	              #{entity.invoicecompany,jdbcType = VARCHAR}
		        from dual
</foreach>
	    )B
</insert>

</mapper>