<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="demo.user.UserMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  smuser.ilineid ,
		  smuser.vcuserno ,
		  smuser.vcusername ,
		  smuser.vctel ,
		  smuser.vcemail ,
		  smuser.vcmobile ,
		  smuser.vcpassword ,
		  smuser.ideptid ,
		  smuser.badmin ,
		  smuser.bactive ,
		  smuser.dtlastupdatedate ,
		  smuser.iroleid ,
		  smuser.iusertype ,
		  smuser.icustomerid ,
		  smuser.vcuserno2 ,
		  smuser.dtdate 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="ilineid != null">and smuser.ilineid = #{ilineid}</if>
	    <if test="vcuserno != null">and smuser.vcuserno = #{vcuserno}</if>
	    <if test="vcusername != null">and smuser.vcusername = #{vcusername}</if>
	    <if test="vctel != null">and smuser.vctel = #{vctel}</if>
	    <if test="vcemail != null">and smuser.vcemail = #{vcemail}</if>
	    <if test="vcmobile != null">and smuser.vcmobile = #{vcmobile}</if>
	    <if test="vcpassword != null">and smuser.vcpassword = #{vcpassword}</if>
	    <if test="ideptid != null">and smuser.ideptid = #{ideptid}</if>
	    <if test="badmin != null">and smuser.badmin = #{badmin}</if>
	    <if test="bactive != null">and smuser.bactive = #{bactive}</if>
	    <if test="dtlastupdatedate != null">and smuser.dtlastupdatedate = #{dtlastupdatedate}</if>
	    <if test="iroleid != null">and smuser.iroleid = #{iroleid}</if>
	    <if test="iusertype != null">and smuser.iusertype = #{iusertype}</if>
	    <if test="icustomerid != null">and smuser.icustomerid = #{icustomerid}</if>
	    <if test="vcuserno2 != null">and smuser.vcuserno2 = #{vcuserno2}</if>
	    <if test="dtdate != null">and smuser.dtdate = #{dtdate}</if>
</sql>


<!-- ElementID:UserResult,Generated=true -->
<resultMap id="UserResult" type="demo.user.User">
	<id property="ilineid" column="ilineid"/>
	<result property="vcuserno" column="vcuserno"/>
	<result property="vcusername" column="vcusername"/>
	<result property="vctel" column="vctel"/>
	<result property="vcemail" column="vcemail"/>
	<result property="vcmobile" column="vcmobile"/>
	<result property="vcpassword" column="vcpassword"/>
	<result property="ideptid" column="ideptid"/>
	<result property="badmin" column="badmin"/>
	<result property="bactive" column="bactive"/>
	<result property="dtlastupdatedate" column="dtlastupdatedate"/>
	<result property="iroleid" column="iroleid"/>
	<result property="iusertype" column="iusertype"/>
	<result property="icustomerid" column="icustomerid"/>
	<result property="vcuserno2" column="vcuserno2"/>
	<result property="dtdate" column="dtdate"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="demo.user.User" resultType="int">
	select count(*) from smuser 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="demo.user.User">
	update smuser
<set>
	<if test="vcuserno != null">vcuserno=#{vcuserno,jdbcType=VARCHAR},</if>
	<if test="vcusername != null">vcusername=#{vcusername,jdbcType=VARCHAR},</if>
	<if test="vctel != null">vctel=#{vctel,jdbcType=VARCHAR},</if>
	<if test="vcemail != null">vcemail=#{vcemail,jdbcType=VARCHAR},</if>
	<if test="vcmobile != null">vcmobile=#{vcmobile,jdbcType=VARCHAR},</if>
	<if test="vcpassword != null">vcpassword=#{vcpassword,jdbcType=VARCHAR},</if>
	<if test="ideptid != null">ideptid=#{ideptid,jdbcType=NUMERIC},</if>
	<if test="badmin != null">badmin=#{badmin,jdbcType=NUMERIC},</if>
	<if test="bactive != null">bactive=#{bactive,jdbcType=NUMERIC},</if>
	<if test="dtlastupdatedate != null">dtlastupdatedate=#{dtlastupdatedate,jdbcType=DATE},</if>
	<if test="iroleid != null">iroleid=#{iroleid,jdbcType=NUMERIC},</if>
	<if test="iusertype != null">iusertype=#{iusertype,jdbcType=NUMERIC},</if>
	<if test="icustomerid != null">icustomerid=#{icustomerid,jdbcType=NUMERIC},</if>
	<if test="vcuserno2 != null">vcuserno2=#{vcuserno2,jdbcType=VARCHAR},</if>
	<if test="dtdate != null">dtdate=#{dtdate,jdbcType=DATE}</if>
</set>
<where>
	<choose>
        <when test="ilineid != null">and ilineid = #{ilineid}</when>
        <otherwise>and ilineid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update smuser
	<set>
		<trim suffixOverrides=",">
		    <if test="vcuserno==null">vcuserno = null,</if>
		    <if test="vcusername==null">vcusername = null,</if>
		    <if test="vctel==null">vctel = null,</if>
		    <if test="vcemail==null">vcemail = null,</if>
		    <if test="vcmobile==null">vcmobile = null,</if>
		    <if test="vcpassword==null">vcpassword = null,</if>
		    <if test="ideptid==null">ideptid = null,</if>
		    <if test="badmin==null">badmin = null,</if>
		    <if test="bactive==null">bactive = null,</if>
		    <if test="dtlastupdatedate==null">dtlastupdatedate = null,</if>
		    <if test="iroleid==null">iroleid = null,</if>
		    <if test="iusertype==null">iusertype = null,</if>
		    <if test="icustomerid==null">icustomerid = null,</if>
		    <if test="vcuserno2==null">vcuserno2 = null,</if>
		    <if test="dtdate==null">dtdate = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="ilineid != null">and ilineid = #{ilineid}</when>
			<otherwise>and ilineid = </otherwise>
		</choose>
	</where>
</update>




<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="demo.user.User" resultMap="UserResult">
	select 
		<include refid="column_sql"/>
	    from smuser 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>








<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="UserResult">
	select 
		<include refid="column_sql"/>
	    from smuser 
</select>

<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="UserResult">
select 
	<include refid="column_sql"/> 
	from smuser 
	where smuser.ilineid in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		smuser.ilineid
	    from smuser 
		 <where>
	        <if test="entity.ilineid != null">and smuser.ilineid = #{entity.ilineid}</if>
	        <if test="entity.vcuserno != null">and smuser.vcuserno = #{entity.vcuserno}</if>
	        <if test="entity.vcusername != null">and smuser.vcusername = #{entity.vcusername}</if>
	        <if test="entity.vctel != null">and smuser.vctel = #{entity.vctel}</if>
	        <if test="entity.vcemail != null">and smuser.vcemail = #{entity.vcemail}</if>
	        <if test="entity.vcmobile != null">and smuser.vcmobile = #{entity.vcmobile}</if>
	        <if test="entity.vcpassword != null">and smuser.vcpassword = #{entity.vcpassword}</if>
	        <if test="entity.ideptid != null">and smuser.ideptid = #{entity.ideptid}</if>
	        <if test="entity.badmin != null">and smuser.badmin = #{entity.badmin}</if>
	        <if test="entity.bactive != null">and smuser.bactive = #{entity.bactive}</if>
	        <if test="entity.dtlastupdatedate != null">and smuser.dtlastupdatedate = #{entity.dtlastupdatedate}</if>
	        <if test="entity.iroleid != null">and smuser.iroleid = #{entity.iroleid}</if>
	        <if test="entity.iusertype != null">and smuser.iusertype = #{entity.iusertype}</if>
	        <if test="entity.icustomerid != null">and smuser.icustomerid = #{entity.icustomerid}</if>
	        <if test="entity.vcuserno2 != null">and smuser.vcuserno2 = #{entity.vcuserno2}</if>
	        <if test="entity.dtdate != null">and smuser.dtdate = #{entity.dtdate}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="UserResult">
	select 
		<include refid="column_sql"/>
	    from smuser 
		 where smuser.ilineid = #{ilineid,jdbcType=NUMERIC}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="demo.user.User" resultMap="UserResult">
	select 
		<include refid="column_sql"/>
	    from smuser 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insert,Generated=false -->
<insert id="insert" parameterType="demo.user.User">
	<selectKey keyProperty="ilineid" resultType="java.lang.Integer" order="BEFORE">
         select s_userid.NEXTVAL from dual
     </selectKey>
	insert into SMUSER(
	<trim prefixOverrides=",">
	         <if test="ilineid != null">ilineid</if>
	         <if test="vcuserno != null">,vcuserno</if>
	         <if test="vcusername != null">,vcusername</if>
	         <if test="vctel != null">,vctel</if>
	         <if test="vcemail != null">,vcemail</if>
	         <if test="vcmobile != null">,vcmobile</if>
	         <if test="vcpassword != null">,vcpassword</if>
	         <if test="ideptid != null">,ideptid</if>
	         <if test="badmin != null">,badmin</if>
	         <if test="bactive != null">,bactive</if>
	         <if test="dtlastupdatedate != null">,dtlastupdatedate</if>
	         <if test="iroleid != null">,iroleid</if>
	         <if test="iusertype != null">,iusertype</if>
	         <if test="icustomerid != null">,icustomerid</if>
	         <if test="vcuserno2 != null">,vcuserno2</if>
	         <if test="dtdate != null">,dtdate</if>
	 	 	 </trim>
	 )
	 values (
	 <trim prefixOverrides=",">
	         <if test="ilineid != null">#{ilineid,jdbcType=NUMERIC}</if>
	         <if test="vcuserno != null">,#{vcuserno,jdbcType=VARCHAR}</if>
	         <if test="vcusername != null">,#{vcusername,jdbcType=VARCHAR}</if>
	         <if test="vctel != null">,#{vctel,jdbcType=VARCHAR}</if>
	         <if test="vcemail != null">,#{vcemail,jdbcType=VARCHAR}</if>
	         <if test="vcmobile != null">,#{vcmobile,jdbcType=VARCHAR}</if>
	         <if test="vcpassword != null">,#{vcpassword,jdbcType=VARCHAR}</if>
	         <if test="ideptid != null">,#{ideptid,jdbcType=NUMERIC}</if>
	         <if test="badmin != null">,#{badmin,jdbcType=NUMERIC}</if>
	         <if test="bactive != null">,#{bactive,jdbcType=NUMERIC}</if>
	         <if test="dtlastupdatedate != null">,#{dtlastupdatedate,jdbcType=DATE}</if>
	         <if test="iroleid != null">,#{iroleid,jdbcType=NUMERIC}</if>
	         <if test="iusertype != null">,#{iusertype,jdbcType=NUMERIC}</if>
	         <if test="icustomerid != null">,#{icustomerid,jdbcType=NUMERIC}</if>
	         <if test="vcuserno2 != null">,#{vcuserno2,jdbcType=VARCHAR}</if>
	         <if test="dtdate != null">,#{dtdate,jdbcType=DATE}</if>
	 	 	 </trim>
	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into smuser (ilineid,vcuserno,vcusername,vctel,vcemail,vcmobile,vcpassword,ideptid,badmin,bactive,dtlastupdatedate,iroleid,iusertype,icustomerid,vcuserno2,dtdate)
		select  smuser_PK.NEXTVAL , B.* from(
			<foreach collection="list" item="entity" index="index" separator="union all">
				select 
	              #{entity.vcuserno,jdbcType = VARCHAR},
	              #{entity.vcusername,jdbcType = VARCHAR},
	              #{entity.vctel,jdbcType = VARCHAR},
	              #{entity.vcemail,jdbcType = VARCHAR},
	              #{entity.vcmobile,jdbcType = VARCHAR},
	              #{entity.vcpassword,jdbcType = VARCHAR},
	              #{entity.ideptid,jdbcType = NUMERIC},
	              #{entity.badmin,jdbcType = NUMERIC},
	              #{entity.bactive,jdbcType = NUMERIC},
	              #{entity.dtlastupdatedate,jdbcType = DATE},
	              #{entity.iroleid,jdbcType = NUMERIC},
	              #{entity.iusertype,jdbcType = NUMERIC},
	              #{entity.icustomerid,jdbcType = NUMERIC},
	              #{entity.vcuserno2,jdbcType = VARCHAR},
	              #{entity.dtdate,jdbcType = DATE}
		        from dual
</foreach>
	    )B
</insert>





<!--Generated=true-->
<delete id="delete" parameterType="demo.user.User">
    delete from smuser where 1=1 and ilineid = #{ilineid}
</delete>
<!--Generated=true-->
<delete id="deleteBatch" parameterType="List">
	delete from smuser where ilineid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.ilineid}
</foreach>
</trim>
</delete>
<!--Generated=true-->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update smuser
	<set>
	<if test="entity.vcuserno != null">vcuserno= #{entity.vcuserno,jdbcType=VARCHAR},</if>
	<if test="entity.vcusername != null">vcusername= #{entity.vcusername,jdbcType=VARCHAR},</if>
	<if test="entity.vctel != null">vctel= #{entity.vctel,jdbcType=VARCHAR},</if>
	<if test="entity.vcemail != null">vcemail= #{entity.vcemail,jdbcType=VARCHAR},</if>
	<if test="entity.vcmobile != null">vcmobile= #{entity.vcmobile,jdbcType=VARCHAR},</if>
	<if test="entity.vcpassword != null">vcpassword= #{entity.vcpassword,jdbcType=VARCHAR},</if>
	<if test="entity.ideptid != null">ideptid= #{entity.ideptid,jdbcType=NUMERIC},</if>
	<if test="entity.badmin != null">badmin= #{entity.badmin,jdbcType=NUMERIC},</if>
	<if test="entity.bactive != null">bactive= #{entity.bactive,jdbcType=NUMERIC},</if>
	<if test="entity.dtlastupdatedate != null">dtlastupdatedate= #{entity.dtlastupdatedate,jdbcType=DATE},</if>
	<if test="entity.iroleid != null">iroleid= #{entity.iroleid,jdbcType=NUMERIC},</if>
	<if test="entity.iusertype != null">iusertype= #{entity.iusertype,jdbcType=NUMERIC},</if>
	<if test="entity.icustomerid != null">icustomerid= #{entity.icustomerid,jdbcType=NUMERIC},</if>
	<if test="entity.vcuserno2 != null">vcuserno2= #{entity.vcuserno2,jdbcType=VARCHAR},</if>
	<if test="entity.dtdate != null">dtdate= #{entity.dtdate,jdbcType=DATE}</if>
	</set>
		<where>
			<choose>
				<when test="entity.ilineid != null">and ilineid = #{entity.ilineid}</when>
				<otherwise>and ilineid = </otherwise>
			</choose>
		</where>
	</foreach>
</update>
</mapper>